.hero {
    &__contador {
        width: 580px;
        height: 119px;
        background-color: yellow;
        background-color: rgba(255, 171, 0, 0.31);
        border-radius: 19px;
        border: 1px solid #FFAB00;
        position: fixed;
        left: 50%;
        top: 40px;
        z-index: 10;

        &__content {
            margin-top: 25px;
            text-align: center;

            p {
                color: #fff;
                &:last-child {
                    font-size: 18px;
                    margin-top: 10px;
                    font-weight: bold;
                }
                
                span {
                    color: #FFAB00;
                    background-color: #fff;
                    padding: 5px;
                    border-radius: 5px;
                    display: block;
                    margin: auto;
                    width: 80%;
                }
            }
        }

        @media (max-width:1024px) {
            width: 400px;
            height: 120px;

            &__content {
                p {
                    font-size: 12px;

                    &:last-child {
                        font-size: 14px;
                    }
                }
            }
        }

        @media (max-width:767px) {
            top: 20px;
            width: 300px;
            height: 150px;

            &__content {
                p {
                    span {
                        display: block;
                        display: inline-block;
                        width: 80%;
                        margin-top: 5px;
                    }
                }
            }

            &__image {
                img {
                    margin-left: -50px;
                }
            }
        }
    }
}