@use 'variables';

.hero {
    height: 100vh;
    background-image: url(../images/fundo--hero.jpg);
    position: relative;

    &__eclipse {
        &__right {
            position: absolute;
            right: 0;
        }

        &__left {
            position: absolute;
            bottom: 0;
            height: 180px;
            width: 180px;
        }
    }

    &__content {
        margin-top: 100px;
        width: 50%;

        h5 {
            color: variables.$highlightColor;
            margin-bottom: 5px;
        }

        p {
            font-size: 32px;
            font-weight: 700;
            color: variables.$textColor;

            span {
                color:variables.$highlightColor;
            }
        }

        &__links {
            margin-top: 50px;

            button {
                padding: 6px 15px;
                background-color: variables.$highlightColor;
                font-size: 18px;
                font-weight: bold;
                border: 1px solid variables.$borderColor;
                margin-right: 20px;
                cursor: pointer;

                &:hover {
                    background-color:variables.$highlightColor;
                }
            }

            a {
                text-decoration: none;
                font-size: 18px;
                color: variables.$linkColor;
                font-weight: bold;
                position: relative;

                &:hover {
                    color: variables.$textColor;
                }

                &::after {
                    content: " ";
                    position: absolute;
                    left: -5px;
                    bottom: -5px;
                    width: 165px;
                    height: 3px;
                    background-color: variables.$linkColor;
                }
            }
        }
    }

    &__image {
        width: 50%;
        position: relative;
        z-index: 1;

        img {
            width: 100%;
        }

        &__info {
            display: flex;

            &__one {
                position: absolute;
                display: flex;
                bottom: 5px;
                left: 140px;
                flex-wrap: wrap;

                &__item {
                    p {
                        font-size: 12px;
                        padding: 10px 5px;
                        background-color: variables.$infoBackground;
                        color: variables.$textColor;
                        border-radius: 15px;
                        border: 1px solid variables.$textColor;
                        margin-top: 10px;

                        &:last-child {
                            margin-left: 10px;
                        }
                    }
                }
            }

            &__two {
                position: absolute;
                bottom: 170px;
                left: 340px;

                &__item {
                    p {
                        font-size: 13px;
                        padding: 10px 5px;
                        background-color: variables.$infoBackground;
                        color: variables.$textColor;
                        border-radius: 15px;
                        border: 1px solid variables.$textColor;
                        margin-top: 10px;
                        display: inline-block;
                        width: auto;

                        &:last-child {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:1024px) {

        &__content {
            &__links {
                padding-bottom: 20px;
                margin-top: 15px;

                button {
                    display: block;
                    margin-bottom: 10px;
                }

                a {
                    margin-left: 5px;
                    &::after {
                        bottom: -5px;
                    }
                }
            }
        }

        &__image {
            margin-top: 80px;

            &__info {

                &__one,
                &__two {
                    display: none;
                }
            }
        }
    }

    @media (max-width:767px) {
        &__eclipse {
            &__left {
                height: 150px;
                width: 150px;
            }
        }

        &__content {
            width: 100%;

            p {
                margin-bottom: 20px;
            }

            &__links {

                a {
                    display: block;
                    height: 40px;
                    margin-top: 20px;

                    &::after {
                        bottom: 1px;
                    }
                }
            }
        }

        &__image {
            margin-left: auto;
            margin-top: -100px;

            img {
                width: 300px;
                height: 300px;
            }
        }
    }
}