$counterbackground:rgba(255, 171, 0, 0.31);
$highlightColor:#FFAB00;
$textColor:#fff;
$borderColor:#000;
$linkColor:silver;
$infoBackground:rgba(255, 255, 255, .15);
$gradientColor1:hsla(0, 0%, 0%, 1) ;
$gradientColor2:hsla(40, 100%, 50%, 1) ;